<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
    <h1>All Doctors</h1>
    
        <ul>
            {% for s in doctors %}
            <li>
                <h2> {{ s }}</h2>
                <a href="{% url 'doctor:view_doctor' s.id %}">View details</a>
                {% empty %}
                    No doctors
                {% endfor %}
            </li>
            
        </ul>
        
</body>
</html>