<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Profile</title>
</head>
<body>
    <h1>Hello, {{doctor.username}}</h1>
    <h2>
        Name: {{doctor.name}}<br>
        Email: {{doctor.email}}<br>
        Salary: {{doctor.salary}}<br>
        Deptt: {{doctor.department}}<br>
        Attendance: {{doctor.attendance}}<br>
        Gender: {{doctor.gender}}<br>
        Phone: {{doctor.phone}}<br>
    </h2>
    
</body>
</html>