<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    {% if error %}
        {{ error }}
    {% endif %}
    <h1>
        {{ i.name }}
    </h1>
    <form method="POST">
        {% csrf_token %}
        {{ i_form }}
        <input type="submit" value="Update">
    </form>
    <h3>
        <div>
            <a href="{% url 'receptionist:delete_invoice' patient.id i.id %}">Delete Invoice</a><br>
            <a href="{% url 'receptionist:view_invoice_history' patient.id %}">Cancel</a><br>
        </div>
    </h3>
</body>
</html>