<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
    <h1>All Patients</h1>
    {% for s in patients %}
        <ul>
            <li>
                 <h2> {{ s }}</h2>
                 <h3>
                     <a href="{% url 'patient:view_patient' s.id %}">View details</a>
                 </h3>
            </li>
           
        </ul>
        {% empty %}
            No patients
    {% endfor %}
</body>
</html>