<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <h3>
        <a href="{% url 'HR:index' %}">Go to HR interface</a><br>
        <a href="{% url 'receptionist:index' %}">Go to Receptionist interface</a><br>
        <a href="{% url 'doctor:index' %}">Go to Doctors' interface</a><br>
        <a href="{% url 'patient:index' %}">Go to Patients' interface</a><br>
        <a href="{% url 'MAIN:Logout' %}">Logout</a><br>
    </h3>
</body>
</html>